<div class="limiter">
    <div class="container-login">
        <div class="wrap-login">
            <div class="login-form-title"></div>
            <form class="login-form validate-form" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <div class="wrap-input validate-input m-b-26" data-validate="Username is required">
                    <span class="label-input">Username</span>
                    <input class="input-login" type="text" nz-input formControlName="userName"
                        placeholder="Enter username" />
                    <span class="focus-input"></span>
                </div>
                <div class="wrap-input validate-input m-b-18" data-validate="Password is required">
                    <span class="label-input">Password</span>
                    <input class="input-login" type="password" nz-input formControlName="password"
                        placeholder="Enter password" />
                    <span class="focus-input"></span>
                </div>
                <div class="flex-sb-m w-full p-30">
                    <div class="contact-form-checkbox">
                        <input class="input-checkbox" id="ckbRememberMe" type="checkbox" name="remember-me"
                            formControlName="remember">
                        <label class="checkbox-text">
                            <span>Remember me</span>
                        </label>
                    </div>
                    <div>
                        <a href="#" class="forgot-password">
                            Forgot Password?
                        </a>
                    </div>
                </div>
                <div class="container-login-form-btn">
                    <button class="login-form-btn" nz-button nzType="primary" nzShape="round" [nzLoading]="isLoading"><i
                            nz-icon nzType="login" nzTheme="outline"></i>Đăng nhập</button>
                </div>
            </form>
        </div>
    </div>
</div>